{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Log in{% endblock %}
{% block head_scripts %}
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/add-source.js' %}"></script>
{% endblock %}
{% block extra_styles %}
<link href="{% static 'css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row">
        {% with current='sources' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span8">
           
            <h2>{% if link_id %}Edit{% else %}Add{% endif %} a source</h2>

            <form action="." method="post" enctype="multipart/form-data" class="form-horizontal">{% csrf_token %}
                {% if form.errors %}
                    <!-- Error messaging -->
                    <div id="errors">
                        <div class="inner">
                            <p>There were some errors in the information you entered. Please correct the following:</p>
                            {{ form.non_field_errors }}
                            <ul>
                                {% for field in form %}
                                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Error messaging -->
                {% endif %}
                {% if 'person' in form.initial.keys %}
                    {% with label='About this person' field=form.person %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'mainperson' in form.initial.keys %}
                    {% with label='About this person' field=form.mainperson %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'birth' in form.initial.keys %}
                    {% with label='Birth record' field=form.birth %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'death' in form.initial.keys %}
                    {% with label='Death record' field=form.death %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'lifeevent' in form.initial.keys %}
                    {% with label='Death record' field=form.lifeevent %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'rank' in form.initial.keys %}
                    {% with label='Documenting rank' field=form.rank %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'name' in form.initial.keys %}
                    {% with label='Documenting name' field=form.name %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'servicenumber' in form.initial.keys %}
                    {% with label='Documenting service number' field=form.servicenumber %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'relationship' in form.initial.keys %}
                    {% with label='Documenting relationship' field=form.relationship %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'membership' in form.initial.keys %}
                    {% with label='Documenting membership' field=form.membership %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'address' in form.initial.keys %}
                    {% with label='Documenting address' field=form.address %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'story' in form.initial.keys %}
                    {% with label='Documenting story' field=form.story %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}

                {% if source.id %}
                    {% with label='Source type' field=form.source_type extra='url'%}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% else %}
                    {% with label='Source type' field=form.category extra='url'%}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}

                {% with label='Title' field=form.title %}
                    {% include '_form_field.html' %}
                {% endwith %}
                {% with label='URL' field=form.url extra='url' %}
                    {% include '_form_field.html' %}
                {% endwith %}
                {% with label='Publication date' field=form.publication_date %}
                    {% include '_form_field.html' %}
                {% endwith %}
                <!--
                {% with label='Publication date end' field=form.publication_date_end %}
                    {% include '_form_field.html' %}
                {% endwith %}
                <div class="form-field date_type control-group">
                    <div class="controls">
                        <label class="radio inline">
                           <input type="radio" name="publication_date_type" checked="checked" value="single"> Single date
                        </label>
                        <label class="radio inline">
                           <input type="radio" name="publication_date_type" value="range"> Date range
                        </label>
                    </div>
                </div>
                -->
                {% if source.id %}
                    <fieldset>
                    <legend>Images</legend>
                    {% for image in images.forms %}
                        {{ image.id }}
                        <div class="form-field control-group">
                            <label class="control-label">Image</label>
                            <div class="controls">
                                {% if image.instance.image %}
                                    <div class="pull-right">
                                        {% thumbnail image.instance.image 150x150  as im %}
                                        <a href="{{ image.instance.image.url }}"><img src="{{ im.url }}"></a>
                                    </div>
                                {% endif %}
                                <p>{{ image.image }}</p>
                                <p>Order: {{ image.page }}</p>
                                <p>Delete: {% if image.instance.pk %}{{ image.DELETE }}{% endif %}</p>
                                <span id="{{ field.auto_id }}_help" class="help-block">{{ help }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    {{ images.management_form }}
                    {% with label='Image caption' field=form.caption %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                    </fieldset>
                    <!--<fieldset id="creators">
                        <legend>Creators</legend>
                        {% url 'source-creator-add' source_id=source.id creator_type='author' as author_link %}
                        
                        {% with label='Authors' field=form.authors create_url=author_link create_type='author' %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% url 'source-creator-add' source_id=source.id creator_type='editor' as editor_link %}
                        {% with label='Editors' field=form.editors create_url=editor_link create_type='editor' %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    </fieldset>-->
                    <fieldset id="collection">
                        <legend>Part of</legend>
                        <!--{% with label='Collection' field=form.collection %}
                            {% include '_form_field.html' %}
                        {% endwith %}-->
                        {% with label='Collection title' field=form.collection_title %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Repository' field=form.repository %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Collection identifier' field=form.collection_item_id %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Repository identifier' field=form.repository_item_id %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Pages' field=form.pages %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    </fieldset>
                    <fieldset id="publication">
                        <legend>Publisher</legend>
                        {% with label='Publisher' field=form.publisher %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Place of publication' field=form.publication_place %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    </fieldset>
                    <!--<fieldset id="subjects">
                        <legend>Subjects</legend>
                        {% with label='Main people' field=form.main_people %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Other people' field=form.other_people %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    </fieldset>-->
                {% endif %}
                <div class="form-actions">
                    {% if source.id %}
                        <input class="btn btn-primary" name="continue" type="submit" value="Save &amp; continue editing">
                        <input class="btn btn-primary" name="finished" type="submit" value="Finished">
                        <a class="btn btn-primary btn-danger" href="{% url 'source-delete' source.id %}">Delete</a>
                    {% else %}
                        <input class="btn btn-primary" name="next" type="submit" value="Next">
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="span2">
            {% if 'person_name' in form.initial.keys %}
                <p>
                    <a class="btn btn-primary" target="_blank" href="http://wraggelabs.com/ww1-records/?family_name={{ form.initial.person_name }}">Search for records <i class="icon-double-angle-right"></i></a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
