{% extends 'base.html' %}
{% load thumbnail %}
{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
<script src="{{ STATIC_URL }}js/list-images.js"></script>
{% endblock %}
{% block content %}
        <div class="row">
            {% with current='images' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span10">
                <h1>Images</h1>
                <ul id="wall" class="thumbnails">
                {% for source in content %}
                    {% with image=source.sourceimage_set.all.0 %}
                    <li class="cell span2">
                        <a class="thumbnail" href="{{ source.get_absolute_url }}">
                            {% thumbnail image.image 160x0 as im %}
                            <img src="{{ im.url }}" width="160" height="{{ im.height }}">
                        </a>
                    </li>
                    {% endwith %}
                {% endfor %}
                    </ul>
                <ul class="pager">
                    <li>
                        {% if content.has_previous %}
                            <a href="/sources/?page={{ content.previous_page_number }}">Previous</a>
                        {% else %}
                            Previous
                        {% endif %}
                    </li>                    <li>
                        {% if content.has_next %}
                            <a href="/sources/?page={{ content.next_page_number }}">Next</a>
                        {% else %}
                            Next
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}
