{% extends 'base.html' %}
{% load thumbnail %}
{% load nav_extras %}
{% block content %}
        <div class="row">
            {% with current='sources' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Sources</h1>
                {% alpha_browse 'source' letter %}
                {% paginate 'source' 5 %}
                <ul class="media-list">
                {% for source in content %}
                    <li class="media">
                        <a href="{{ source.get_absolute_url }}" class="thumb-container pull-left">
                        {% if source.sourceimage_set.all %}
                            {% thumbnail source.sourceimage_set.all.0.image 50x50 crop="True" as im %}
                            <img src="{{ im.url }}">
                        {% else %}
                        <i class="icon-book icon-large icon-muted"></i>
                        {% endif %}
                        </a>
                        <div class="media-body">
                        <a href="{{ source.get_absolute_url }}" class="">{{ source|safe }}</a><br>
                        <small>{{ source.source_type }}</small>
                        </div>
                    </li>
                {% empty %}
                    <li>No matching sources</li>
                {% endfor %}
                </ul>
                {% paginate 'source' 5 %}
            </div>
        </div>
{% endblock %}
