{% extends 'base.html' %}
{% load thumbnail %}
{% load guardian_tags %}
{% block content %}
    {% get_obj_perms request.user for content as 'perms' %}
        <div class="row">
            {% with current='sources' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <ul class="breadcrumb hidden-phone">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li><a href="{% url source-list %}">Sources</a> <span class="divider">/</span></li>
                    <li class="active">{{ content|safe|truncatewords:6 }}</li>
                </ul>
                <h2>{{ content|safe }}</h2>
                <div class="row">
                    <div class="span6">
                        <dl class="dl-horizontal">
                            <dt>Type</dt>
                            <dd>{{ content.source_type }}</dd>
                            {% if content.sourceperson_set.all %}
                                <dt>Creators</dt>
                                <dd>
                                    <ul>
                                    {% for creator in content.sourceperson_set.all %}
                                        <li>{{ creator.person }} ({{ creator.role }})</li>
                                    {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}
                            {% if content.repository %}
                                <dt>Repository</dt>
                                <dd>{{ content.repository }}</dd>
                            {% endif %}
                            {% if content.collection %}
                                <dt>Part of</dt>
                                <dd><a href="{{ content.collection.get_absolute_url }}">{{ content.collection.title }}</a> ({{ content.collection.source_type }})</dd>
                            {% endif %}
                            {% if content.collection_title %}
                                <dt>Part of</dt>
                                <dd>{{ content.collection_title }}</dd>
                            {% endif %}
                            {% if content.collection_item_id %}
                                <dt>Identifier</dt>
                                <dd>{{ content.collection_item_id }}</dd>
                            {% endif %}
                            {% if content.repository_item_id %}
                                <dt>Identifier</dt>
                                <dd>{{ content.repository_item_id }}</dd>
                            {% endif %}
                            {% if content.display_publisher %}
                                <dt>Publisher</dt>
                                <dd>{{ content.display_publisher }}</dd>
                            {% endif %}
                            {% if content.publication_place %}
                                <dt>Place of publication</dt>
                                <dd>{{ content.publication_place }}</dd>
                            {% endif %}
                            {% if content.start_date %}
                                <dt>Date</dt>
                                <dd>
                                    {{ content.start_date }}
                                    {% if content.end_date %}
                                        &ndash; {{ content.end_date }}
                                    {% endif %}
                                </dd>
                            {% endif %}
                            {% if content.pages %}
                                <dt>Page{{ content.pages|pluralize}}</dt>
                                <dd>{{ content.pages }}</dd>
                            {% endif %}
                            {% if content.url %}
                                <dt>Web</dt>
                                <dd><a href="{{ content.url }}">{{ content.url|truncatechars:50 }}</a></dd>
                            {% endif %}
                            {% if content.collection_source.all %}
                                <dt>Includes</dt>
                                <dd>
                                    <ul>
                                    {% for part in content.collection_source.all %}
                                        <li><a href="{{ part.get_absolute_url }}">{{ part }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </dd>
                            {% endif %}
                            {% if content.main_subjects %}
                            <dt>Main subject{{ content.main_subjects|pluralize }}</dt>
                            <dd>
                                <ul>
                                {% for subject in content.main_subjects %}
                                    <li><a href="{{ subject.get_absolute_url }}">{{ subject|safe }}</a></li>
                                {% endfor %}
                                </ul>
                            </dd>
                            {% endif %}
                            {% if content.other_subjects %}
                            <dt>Other subject{{ content.other_subjects|pluralize }}</dt>
                            <dd>
                                <ul>
                                {% for subject in content.other_subjects %}
                                    <li><a href="{{ subject.get_absolute_url }}">{{ subject|safe }}</a></li>
                                {% endfor %}
                                </ul>
                            </dd>
                            {% endif %}
                            {% if content.evidence_for %}
                            <dt>Evidence for</dt>
                            <dd>
                                <ul>
                                {% for evidence in content.evidence_for %}
                                    <li><a href="{{ evidence.get_absolute_url }}">{{ evidence|safe }}</a></li>
                                {% endfor %}
                                </ul>
                            </dd>
                            {% endif %}
                        </dl>
                    </div>
                    <div class="span2">
                        {% if content.sourceimage_set.all %}
                            {% thumbnail content.sourceimage_set.all.0.image 160x0 as im %}
                            <div class="span2">
                                <a class="thumbnail" href="{{ content.sourceimage_set.all.0.image.url }}">
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="content.photos.0.title">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="span2">
                {% if 'change_source' in perms %}
                <p>
                    <a class="btn btn-primary btn-medium" href="{% url source-update content.id%}">Update</a>
                </p>
                {% endif %}
            </div>
        </div>
{% endblock %}
{% block footer %}
{% with id_path=id_path identifier=identifier %}
    {% include '_footer.html' %}
{% endwith %}
{% endblock %}
