{% extends 'base.html' %}
{% block content %}
        <div class="row">
            <div class="span2">
                <ul class="nav nav-list">
                    <li><a href="/memorials/">Memorials</a></li>
                    <li><a href="/people/">People</a></li>
                    <li class="active"><a href="/sources/">Sources</a></li>
                </ul>
            </div>
            <div class="span10">
                <h1>{{ entity }}</h1>
                <p>Type: {{ entity.source_type }}</p>
                {% if entity.collection %}
                    <p>Part of: <a href="{{ entity.collection.get_absolute_url }}">{{ entity.collection }}</a></p>
                {% endif %}
                {% if entity.collection_source.all %}
                    <h4>Includes</h4>
                    <ul>
                    {% for part in entity.collection_source.all %}
                        <li><a href="{{ part.get_absolute_url }}">{{ part }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% if entity.url %}
                    <p>Web: {{ entity.url|urlize }}</p>
                {% endif %}
                <p>Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
                    <a href="{{ id_path }}.html/">HTML</a> |
                    <a href="{{ id_path }}.rdf/">RDF+XML</a> |
                    <a href="{{ id_path }}.ttl/">Turtle</a> |
                    <a href="{{ id_path }}.json/">JSON</a>
                </p>
            </div>
        </div>
{% endblock %}
