{% extends 'base.html' %}
{% block content %}
        <div class="row">
            {% with current='sources' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1 class="entity-type">Story</h1>
                <h2>{{ content.title|safe }}</h2>
                <blockquote>
                    {{ content.text|safe }}
                    <small>added by {{ content.added_by }}</small>
                </blockquote>

                <dl class="dl-horizontal well">
                    {% if content.start_earliest %}
                        <dt>Start date</dt>
                        <dd>
                            {{ content.start_earliest }}
                        </dd>
                    {% endif %}
                    {% if content.start_earliest %}
                        <dt>End date</dt>
                        <dd>
                            {{ content.end_earliest }}
                        </dd>
                    {% endif %}
                    {% if content.subjects %}
                        <dt>Subject{{ content.subjects|pluralize }}</dt>
                        {% with list=content.subjects %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if content.sources.all %}
                        <dt>Documented by</dt>
                        {% with list=content.sources.all %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                </dl>
            </div>
        </div>
{% endblock %}
{% block footer %}
<div class="row">
    <div class="span8 offset2">
        Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
        <a href="{{ id_path }}.html/">HTML</a> |
        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
        <a href="{{ id_path }}.ttl/">Turtle</a> |
        <a href="{{ id_path }}.json/">JSON</a>
    </div>
</div>
{% endblock %}
