body {padding-top: 80px;}
.related-list { margin-left: 0; }
.form-buttons { margin-top: 40px; }
.radio.inline { white-space: nowrap; }
.date_type { margin-top: -20px;}
.select2-container-multi .select2-choices .select2-search-choice { font-size: small;}
h1.entity-type {
    text-transform: uppercase;
    font-size: 140%;
    line-height: 26px;
}

h1.home {


}

p.lead {

}

a.quote {
    color: #333;
}

a.quote:hover blockquote {
    color: #333;
    border-right: 5px solid #e78b24;
}
.home-stories {
margin-top: 2em;

}

img.photo {
    -webkit-box-shadow:0 0 20px #333;
    -moz-box-shadow: 0 0 20px #333;
    box-shadow:0 0 20px #333;
}

.thumb-container {
    width: 50px;
    text-align: center;
    display: block;
}

li.media {
border-top: 1px solid #d7d7d7;
padding-top: 10px;

}

@media (max-width: 767px) {
  .sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}




/* FOOTER
----------------------------------------------------------------------- */

footer {
  margin-top:33px;
  background-color:#eee;
  border-top:1px solid #bbb;
  -moz-box-shadow:    inset  0  13px 13px -13px #aaa,
                      inset  0 -13px 13px -13px #aaa;
  -webkit-box-shadow: inset  0  13px 13px -13px #aaa,
                      inset  0 -13px 13px -13px #aaa;
     box-shadow:      inset  0  13px 13px -13px #aaa,
                      inset  0 0 0 0 #aaa;
}
.credits1 {
padding:16px 0 30px 0;
}
.credits1 img.DOB_logo {
padding-top:10px;
}
div.nav-off {
margin:10px 0 6px 0;
}
.nav-off a {
font-weight:bold;
margin:0 9px 0 0;
}
.credits2 {
padding:0 0 21px 0;
}
.credits2 p {
padding-top:5px;
line-height:1.5;
text-align:right;
}

span.subscribe,span.facebook,span.twitter,span.flickr,span.youtube,span.email-forward{
	background: url("/static/img/email.png") no-repeat;
	width:32px;
	height:32px;
	display:inline-block;
	margin-right:14px;
}
span.facebook{
	background: url("/static/img/facebook.png") no-repeat;
}
span.twitter{
	background: url("/static/img/twitter.png") no-repeat;
}
span.flickr{
	background: url("/static/img/flickr.png") no-repeat;
}
span.youtube{
	background: url("/static/img/youtube2.png") no-repeat;
}
