body {padding-top: 80px;}
.related-list { margin-left: 0; }
.form-buttons { margin-top: 40px; }
.radio.inline { white-space: nowrap; }
.date_type { margin-top: -20px;}
.select2-container-multi .select2-choices .select2-search-choice { font-size: small;}
h1.entity-type {
    text-transform: uppercase;
    font-size: 140%;
    line-height: 26px;
}
p.lead {
    margin-left: 10em;
}

a.quote {
    color: #333;
}

a.quote:hover blockquote {
    color: #333;
    border-right: 5px solid #e78b24;
}
