{% extends 'base.html' %}
{% block content %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Name record</h1>
                <p>Details for <a href="{% url person-view content.person.id %}">{{ content.person }}</a></p>
                <dl class="dl-horizontal">
                    {% if content.display_name %}
                        <dt>Name for display</dt>
                        <dd>{{ content.display_name}}</dd>
                    {% endif %}
                    {% if content.family_name %}
                        <dt>Family name</dt>
                        <dd>{{ content.family_name}}</dd>
                    {% endif %}
                    {% if content.other_names %}
                        <dt>Other names</dt>
                        <dd>{{ content.other_names}}</dd>
                    {% endif %}
                    {% if content.nickname %}
                        <dt>Known as (nickname)</dt>
                        <dd>{{ content.nickname}}</dd>
                    {% endif %}
                    {% if content.sources %}
                        <dt>Documented by</dt>
                        {% with list=content.sources.all %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                </dl>
            </div>
        </div>

{% endblock %}
{% block footer %}
<div class="row">
    <div class="span8 offset2">
        Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
        <a href="{{ id_path }}.html/">HTML</a> |
        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
        <a href="{{ id_path }}.ttl/">Turtle</a> |
        <a href="{{ id_path }}.json/">JSON</a>
    </div>
</div>
{% endblock %}
