{% extends 'base.html' %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/add-birth.js' %}"></script>
{% endblock %}
{% block extra_styles %}
<link href="{% static 'css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row">
        {% with current='none' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span10">
            <h2>Confirm deletion</h2>
            <form action="" method="post">{% csrf_token %}
                    <p>Do you really want to delete this?</p>
                    <ul>
                        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
                    </ul>
                <div>
                    <input class="btn btn-danger" name="delete" type="submit" value="Delete">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
