{% extends 'base.html' %}
{% block content %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Death record</h1>
                <p>Details for <a href="{{ content.person.get_absolute_url }}">{{ content.person }}</a></p>
                <dl class="dl-horizontal">
                    {% if content.start_earliest %}
                        <dt>Date</dt>
                        <dd>
                            {% if content.start_latest %}
                                Between {{ content.start_earliest }} and {{ content.start_latest }}
                            {% else %}
                                {{ content.start_earliest }}
                            {% endif %}
                        </dd>
                    {% endif %}
                    {% if content.location %}
                        <dt>Location</dt>
                        <dd>
                            <a href="{{ content.location.get_absolute_url }}">{{ content.location }}</a>
                        </dd>
                    {% endif %}
                    {% if content.cause_of_death %}
                        <dt>Cause of death</dt>
                        <dd>
                            {{ content.cause_of_death }}
                        </dd>
                    {% endif %}
                    {% if content.burial_place %}
                        <dt>Place of burial</dt>
                        <dd>
                            <a href="{{ content.burial_place.get_absolute_url }}">{{ content.burial_place }}</a>
                        </dd>
                    {% endif %}
                    {% if content.sources.all %}
                        <dt>Documented by</dt>
                        {% with list=content.sources.all %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                </dl>

            </div>
        </div>

{% endblock %}
{% block footer %}
<div class="row">
    <div class="span8 offset2">
        Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
        <a href="{{ id_path }}.html/">HTML</a> |
        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
        <a href="{{ id_path }}.ttl/">Turtle</a> |
        <a href="{{ id_path }}.json/">JSON</a>
    </div>
</div>
{% endblock %}
