{% extends 'base.html' %}
{% block title %}Delete a story{% endblock %}
{% block extra_scripts %}
{% endblock %}
{% block extra_styles %}
{% endblock %}
{% block content %}
    <div class="row">
        {% with current='none' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span10">
            <h2>Delete a story</h2>
            <p>Do you really want to delete this story?</p>
            <ul>
                <li>{{ story.title }}</li>
            </ul>
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <p>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </p>
            </form>
        </div>
    </div>
{% endblock %}
