{% extends 'base.html' %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/add-birth.js' %}"></script>
{% endblock %}
{% block extra_styles %}
<link href="{% static 'css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row">
        {% with current='none' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span10">
            <h2>{% if birth.id %}Update{% else %}Add{% endif %} an associated place</h2>
            <form action="" method="post" class="form-horizontal">{% csrf_token %}
                {% if form.errors %}
    <!-- Error messaging -->
    <div id="errors">
        <div class="inner">
            <p>There were some errors in the information you entered. Please correct the following:</p>
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Error messaging -->
{% endif %}

                {% with label='Life event' field=form.lifeevent %}
                    {% include '_form_field.html' %}
                {% endwith %}
                {% with label='Association' field=form.association %}
                    {% include '_form_field.html' %}
                {% endwith %}
                {% if eventlocation.id %}
                    {% url 'place-add-event' 'lifeevents' eventlocation.id as addlocation %}
                    {% with label='Location' field=form.location create_url=addlocation create_type='location' %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                <div class="form-actions">
                    {% if eventlocation.id %}
                        <input class="btn btn-primary" name="continue" type="submit" value="Save &amp; continue editing">
                        <input class="btn btn-primary" name="finished" type="submit" value="Finished">
                        <a class="btn btn-primary btn-danger" href="{% url 'eventlocation-delete' eventlocation.id %}">Delete</a>
                    {% else %}
                        <input class="btn btn-primary" name="next" type="submit" value="Next">
                    {% endif %}

                </div>
            </form>
        </div>
    </div>
{% endblock %}
