{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
        <div class="row">
            {% with current='images' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Images</h1>
                <div class="row">
                {% for image in content %}
                    <div class="span2">
                        <a href="{{ image.get_absolute_url }}">
                            <img src="{% thumbnail image.image 140x140 crop=scale %}">
                        </a>
                    </div>
                {% endfor %}
                </div>
                <ul class="pager">
                    <li>
                        {% if content.has_previous %}
                            <a href="/images/?page={{ content.previous_page_number }}">Previous</a>
                        {% else %}
                            Previous
                        {% endif %}
                    </li>                    <li>
                        {% if content.has_next %}
                            <a href="/images/?page={{ content.next_page_number }}">Next</a>
                        {% else %}
                            Next
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="span2">

            </div>
        </div>
{% endblock %}
