{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
        <div class="row">
            {% with current='images' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Images</h1>
                <ul>
                {% for image in content %}
                    <li>
                        <a href="{{ image.get_absolute_url }}">{{ image.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                <ul class="pager">
                    <li>
                        {% if content.has_previous %}
                            <a href="/images/?page={{ content.previous_page_number }}">Previous</a>
                        {% else %}
                            Previous
                        {% endif %}
                    </li>                    <li>
                        {% if content.has_next %}
                            <a href="/images/?page={{ content.next_page_number }}">Next</a>
                        {% else %}
                            Next
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="span2">
                <p>
                    <a class="btn btn-primary btn-medium" href="{% url add_image %}">Add an image</a>
                </p>
            </div>
        </div>
{% endblock %}
