{% extends 'base.html' %}
{% block content %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <ul class="breadcrumb hidden-phone">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li><a href="{% url people-list %}">People</a> <span class="divider">/</span></li>
                    <li><a href="{{ content.person.get_absolute_url }}">{{ content.person }}</a> <span class="divider">/</span></li>
                    <li class="active">{{ content.summary|safe }}</li>
                </ul>
                <h2>Life event</h2>
                <dl class="dl-horizontal">
                    <dt>Label</dt>
                    <dd>{{ content.label }}</dd>
                    {% if content.start_earliest and content.end_earliest %}
                        <dt>Start date</dt>
                        <dd>
                            {% if content.start_latest %}
                                Between {{ content.start_earliest }} and {{ content.start_latest }}
                            {% else %}
                                {{ content.start_earliest }}
                            {% endif %}
                        </dd>
                        <dt>End date</dt>
                        <dd>
                            {% if content.end_latest %}
                                Between {{ content.end_earliest }} and {{ content.end_latest }}
                            {% else %}
                                {{ content.end_earliest }}
                            {% endif %}
                        </dd>
                    {% elif content.start_earliest %}
                        <dt>Date</dt>
                        <dd>
                            {% if content.start_latest %}
                                Between {{ content.start_earliest }} and {{ content.start_latest }}
                            {% else %}
                                {{ content.start_earliest }}
                            {% endif %}
                        </dd>
                    {% endif %}

                    {% if content.eventlocation_set.all %}
                        <dt>Location{{ content.eventlocation_set.all|pluralize }}</dt>
                        <dd>
                            <ul>
                                {% for location in content.eventlocation_set.all %}
                                    <li>
                                        {{ location.association }}
                                        <a href="{{ location.location.get_absolute_url}}">{{ location.location }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </dd>
                    {% endif %}
                    {% if content.sources.all %}
                        <dt>Documented by</dt>
                        {% with list=content.sources.all %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                </dl>
            </div>
        </div>

{% endblock %}
{% block footer %}
{% with id_path=id_path identifier=identifier %}
    {% include '_footer.html' %}
{% endwith %}
{% endblock %}
