{% extends 'base.html' %}
{% block title %}Log in{% endblock %}
{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/add-person.js"></script>
{% endblock %}
{% block extra_styles %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        {% with current='none' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span10">
            <h2>
                {% if person %}
                    Update details for {{ organisation }}
                {% else %}
                    Add an organisation
                {% endif %}
            </h2>
            {% if form.errors %}
    <!-- Error messaging -->
    <div id="errors">
        <div class="inner">
            <p>There were some errors in the information you entered. Please correct the following:</p>
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Error messaging -->
{% endif %}
            <form action="" method="post" class="form-horizontal">{% csrf_token %}
                {% if 'person_organisation' in form.initial %}
                    {% with label='Associated with' field=form.person_organisation %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'person' in form.initial %}
                    {% with label='Associated with' field=form.person %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                <fieldset>
                    <legend>Basic details</legend>
                    {% with label='Name' field=form.name %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                </fieldset>
                <fieldset>
                    <legend>Dates</legend>
                    {% with label='Start date' field=form.start_earliest_date %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                    {% with label='End date' field=form.end_earliest_date %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                </fieldset>
                {% if organisation.id %}
                    <fieldset>
                        <legend>Sources</legend>
                        {% url source-add-entity 'rank' rank.id as addsource %}
                        {% with label='Sources' field=form.sources create_url=addsource create_type='source' %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    </fieldset>
                {% endif %}
                <div class="form-actions">
                    {% if 'person' in form.initial or 'person_organisation' in form_initial %}
                        <input class="btn btn-primary" name="person_submit" type="submit" value="Next">
                    {% else %}
                        {% if organisation.id %}
                            <input class="btn btn-primary" name="continue" type="submit" value="Save &amp; continue editing">
                            <input class="btn btn-primary" name="finished" type="submit" value="Finished">
                            <a class="btn btn-primary btn-danger" href="{% url organisation-delete organisation.id %}">Delete</a>
                        {% else %}
                            <input class="btn btn-primary" name="next" type="submit" value="Next">
                        {% endif %}
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
{% endblock %}
