{% extends 'base.html' %}
{% load thumbnail %}
{% load nav_extras %}
{% block page_title %} -- People{% endblock %}
{% block content %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <ul class="breadcrumb hidden-phone">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li class="active">People</li>
                </ul>
                <h1>People {% if status == 'pending' %}awaiting approval{% endif %}</h1>
                {% if status != 'pending' %}
                    {% alpha_browse 'people' letter %}
                    {% paginate 'people' 5 %}
                {% endif %}
                <ul class="media-list">
                {% for person in content %}
                    <li class="media">
                        <a href="{{ person.get_absolute_url }}" class="thumb-container pull-left">
                        {% if person.photos %}
                            {% thumbnail person.photos.0.sourceimage_set.all.0.image 50x50 crop="True" as im %}
                            <img src="{{ im.url }}">
                        {% else %}
                        <i class="icon-user icon-large icon-muted"></i>
                        {% endif %}
                        </a>
                        <div class="media-body">
                        <a href="{{ person.get_absolute_url }}" class="">{{ person|safe }}</a><br>
                        <small></small>
                        </div>
                    </li>
                {% endfor %}
                </ul>
                {% if status != 'pending' %}
                    {% paginate 'people' 5 %}
                {% endif %}
            </div>
        </div>
{% endblock %}
{% block footer %}
{% with id_path=id_path identifier=identifier %}
    {% include '_footer.html' %}
{% endwith %}
{% endblock %}
