{% extends 'base.html' %}
{% load guardian_tags %}
{% block title %}Log in{% endblock %}
{% block head_scripts %}
<script src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
{% endblock %}
{% block extra_scripts %}
<script src="{{ STATIC_URL }}js/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/add-person.js"></script>
{% endblock %}
{% block extra_styles %}
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if person %}
        {% get_obj_perms request.user for person as 'perms' %}
    {% endif %}
    <div class="row">
        {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span10">
            <h2>
                {% if person %}
                    Update details for {{ person }}
                {% elif status == 'pending' %}
                    Suggest a service person
                {% else %}
                    Add a person
                {% endif %}
            </h2>
            {% if person %}
                {% if person.status == 'pending' %}
                    <div class="alert">
                        This entry is awaiting approval.
                        {% if 'approve_person' in perms %}
                            <a class="btn btn-mini btn-primary" href="{% url person-approve person.id %}">Approve</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            <form action="" method="post" class="form-horizontal">{% csrf_token %}
                {% if form.errors %}
    <!-- Error messaging -->
    <div id="errors">
        <div class="inner">
            <p>There were some errors in the information you entered. Please correct the following:</p>
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- /Error messaging -->
{% endif %}
                {% if 'related_person' in form.initial %}
                    {% with label='Adding to relationship' field=form.related_person %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                {% endif %}
                {% if 'source' in form.initial %}
                    {% with label='Creator of' field=form.source %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                    {{ form.creator_type }}
                {% endif %}
                <fieldset>
                    <legend>Basic details</legend>

                        {% with label='Family name' field=form.family_name %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Other names' field=form.other_names %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Birth date' field=form.birth_earliest_date %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {{ form.birth_earliest_date_month_known }}
                        {{ form.birth_earliest_date_day_known }}
                        {% with label='Latest possible date' field=form.birth_latest_date %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {{ form.birth_latest_date_month_known }}
                        {{ form.birth_latest_date_day_known }}
                        <div class="form-field date_type control-group">
                            <div class="controls">
                                <label class="radio inline">
                                   <input type="radio" name="birth_date_type" checked="checked" value="single"> Single date
                                </label>
                                <label class="radio inline">
                                   <input type="radio" name="birth_date_type" value="range"> Date range
                                </label>
                            </div>
                        </div>
                        {% with label='Death date' field=form.death_earliest_date %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {{ form.death_earliest_date_month_known }}
                        {{ form.death_earliest_date_day_known }}
                        {% with label='Latest possible date' field=form.death_latest_date %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {{ form.death_latest_date_month_known }}
                        {{ form.death_latest_date_day_known }}
                        <div class="form-field date_type control-group">
                            <div class="controls">
                                <label class="radio inline">
                                   <input type="radio" name="death_date_type" checked="checked" value="single"> Single date
                                </label>
                                <label class="radio inline">
                                   <input type="radio" name="death_date_type" value="range"> Date range
                                </label>
                            </div>
                        </div>
                        {% with label='Biographical note' field=form.biography %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {% with label='Working notes' field=form.notes help='Store your working notes &ndash; not publicly displayed' %}
                            {% include '_form_field.html' %}
                        {% endwith %}

                    {% if person.id %}
                        <div class="form-field control-group">
                            <label class="control-label">Recorded names</label>
                            <div class="controls">
                                <ul>
                                {% for name in person.alternativepersonname_set.all %}
                                    <li>
                                        <a href="{{ name.get_absolute_url }}">
                                            {{ name|safe }}
                                        </a>
                                        <a class="btn btn-mini" href="{% url altname-update name.id %}">Update</a>
                                    </li>
                                {% empty %}
                                    <li>No name records</li>
                                {% endfor %}
                                </ul>
                                <a class="btn btn-small btn-primary" href="{% url altname-add person.id %}">Add name record</a>
                            </div>
                        </div>
                        <div class="form-field control-group">
                            <label class="control-label">Recorded ranks</label>
                            <div class="controls">
                                <ul>
                                {% for rank in person.rank_set.all %}
                                    <li>
                                        <a href="{{ rank.get_absolute_url }}">
                                            {{ rank.summary }}
                                        </a>
                                        <a class="btn btn-mini" href="{% url rank-update rank.id %}">Update</a>
                                    </li>
                                {% empty %}
                                    <li>No ranks recorded</li>
                                {% endfor %}
                                </ul>
                                <a class="btn btn-small btn-primary" href="{% url rank-add person.id %}">Add rank</a>
                            </div>
                        </div>
                        <div class="form-field control-group">
                            <label class="control-label">Service numbers</label>
                            <div class="controls">
                                <ul>
                                {% for number in person.servicenumber_set.all %}
                                    <li>
                                        <a href="{{ number.get_absolute_url }}">
                                            {{ number.summary }}
                                        </a>
                                        <a class="btn btn-mini" href="{% url servicenumber-update number.id %}">Update</a>
                                    </li>
                                {% empty %}
                                    <li>No service numbers recorded</li>
                                {% endfor %}
                                </ul>
                                <a class="btn btn-small btn-primary" href="{% url servicenumber-add person.id %}">Add service number</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if status == 'pending' %}
                        {% with label='Connection to Mosman' field=form.mosman_connection %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    {% endif %}
                </fieldset>
                {% if person %}
                <fieldset>
                    <legend>Life events</legend>
                    <div class="form-field control-group">
                        <label class="control-label">Birth records</label>
                        <div class="controls">
                            <ul>
                            {% for birth in person.birth_set.all %}
                                <li>
                                    <a href="{{ birth.get_absolute_url }}">
                                        {{ birth.summary|safe }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url birth-update birth.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No birth records</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url birth-add person.id %}">Add birth record</a>
                        </div>
                    </div>
                    <div class="form-field control-group">
                        <label class="control-label">Death records</label>
                        <div class="controls">
                            <ul>
                            {% for death in person.death_set.all %}
                                <li>
                                    <a href="{{ death.get_absolute_url }}">
                                        {{ death.summary|safe }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url death-update death.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No death records</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url death-add person.id %}">Add death record</a>
                        </div>
                    </div>
                    <div class="form-field control-group">
                        <label class="control-label">Life events</label>
                        <div class="controls">
                            <ul>
                            {% for event in person.lifeevent_set.all %}
                                <li>
                                    <a href="{{ event.get_absolute_url }}">
                                        {{ event.summary|safe }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url lifeevent-update event.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No life events</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url lifeevent-add person.id %}">Add life event</a>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Places</legend>
                    <div class="form-field control-group">
                        <label class="control-label">Addresses</label>
                        <div class="controls">
                            <ul>
                            {% for address in person.personaddress_set.all %}
                                <li>
                                    <a href="{{ address.get_absolute_url }}">
                                        {{ address.address|safe }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url personaddress-update address.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No addresses recorded</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url personaddress-add person.id %}">Add address</a>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Associations</legend>
                    <div class="form-field control-group">
                        <label class="control-label">Related people</label>
                        <div class="controls">
                            <ul>
                            {% for assoc in person.personassociatedperson_set.all %}
                                <li>
                                    <a href="{{ assoc.get_absolute_url }}">
                                        {{ assoc.summary|safe }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url persontoperson-update assoc.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No related people</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url persontoperson-add person.id %}">Add related person</a>
                        </div>
                    </div>
                    <div class="form-field control-group">
                        <label class="control-label">Associated organisations</label>
                        <div class="controls">
                            <ul>
                            {% for assoc in person.personassociatedorganisation_set.all %}
                                <li>
                                    <a href="{{ assoc.get_absolute_url }}">
                                        {{ assoc.summary|safe }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url personorganisation-update assoc.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No related organisations</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url personorganisation-add person.id %}">Add related organisation</a>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Sources</legend>
                    <div class="form-field control-group">
                        <label class="control-label">Main subject of</label>
                        <div class="controls">
                            <ul>
                            {% for source in person.main_sources %}
                                <li>
                                    <a href="{{ source.get_absolute_url }}">
                                        {{ source|safe|truncatewords:10 }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url source-update source.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No main sources</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url source-add-entity 'mainperson' person.id %}">Add main source</a>
                        </div>
                    </div>
                    <div class="form-field control-group">
                        <label class="control-label">Subject of</label>
                        <div class="controls">
                            <ul>
                            {% for source in person.other_sources %}
                                <li>
                                    <a href="{{ source.get_absolute_url }}">
                                        {{ source|safe|truncatewords:10 }}
                                    </a>
                                    <a class="btn btn-mini" href="{% url source-update source.id %}">Update</a>
                                </li>
                            {% empty %}
                                <li>No other sources</li>
                            {% endfor %}
                            </ul>
                            <a class="btn btn-small btn-primary" href="{% url source-add-entity 'person' person.id %}">Add other source</a>
                        </div>
                    </div>

                </fieldset>
                {% endif %}
                <div class="form-actions">
                    {% if person %}
                        <input class="btn btn-primary" type="submit" value="Save">
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Next">
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
{% endblock %}
