{% extends 'base.html' %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/add-birth.js' %}"></script>
{% endblock %}
{% block extra_styles %}
<link href="{% static 'css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row">
        {% with current='none' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span10">
            <h2>{% if personassociatedorganisation.id %}Update{% else %}Add{% endif %} a person&rsquo;s association</h2>
            <form action="" method="post" class="form-horizontal">{% csrf_token %}

                {% with label='Person' field=form.person %}
                    {% include '_form_field.html' %}
                {% endwith %}
                {% if 'person' in form.initial.keys %}
                    {% url 'organisation-add-entity' 'person' form.initial.person as addorg %}
                {% elif personassociatedorganisation.id %}
                    {% url 'organisation-add-entity' 'personorganisation' personassociatedorganisation.id as addorg %}
                {% endif %}
                {% with label='Organisation' field=form.organisation create_url=addorg create_type='organisation' %}
                    {% include '_form_field.html' %}
                {% endwith %}
                {% if personassociatedorganisation.id %}
                    {% with label='Association' field=form.association %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                    <fieldset>
                        <legend>Dates</legend>
                        {% with label='Start date' field=form.start_earliest_date %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {{ form.start_earliest_month_known }}
                        {{ form.start_earliest_day_known }}
                        {% with label='End date' field=form.end_earliest_date %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                        {{ form.end_earliest_month_known }}
                        {{ form.end_earliest_day_known }}
                    </fieldset>
                    <!--<fieldset>
                        <legend>Sources</legend>
                        {% url 'source-add-entity' 'membership' personassociatedorganisation.id as addsource %}
                        {% with label='Sources' field=form.sources create_url=addsource create_type='source' %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    </fieldset>-->
                {% endif %}
                <div class="form-actions">
                    {% if personassociatedorganisation.id %}
                        <input class="btn btn-primary" name="continue" type="submit" value="Save &amp; continue editing">
                        <input class="btn btn-primary" name="finished" type="submit" value="Finished">
                        <a class="btn btn-primary btn-danger" href="{% url 'personorganisation-delete' personassociatedorganisation.id %}">Delete</a>
                    {% else %}
                        <input class="btn btn-primary" name="next" type="submit" value="Next">
                    {% endif %}

                </div>
            </form>
        </div>
    </div>
{% endblock %}
