{% extends 'base.html' %}
{% block content %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>{{ content }}</h1>
                {% if content.stories.all %}
                    <h4>Stories</h4>
                    {% for story in content.stories.all %}
                    <article>
                        <h5>{{ story.title }}</h5>
                        {{ story.text|linebreaks|truncatewords_html:100 }}
                        <p><a href="{% url view_story story.id %}">More</a></p>
                    </article>
                    {% endfor %}
                {% endif %}

                {% if content.memorialname_set.all %}
                <h4>Commemorations</h4>
                <ul>
                    {% for memorialname in content.memorialname_set.all %}
                        <li>{{ memorialname.name }} on the {% if memorialname.memorial_part %}<a href="{{ memorialname.memorial.get_absolute_url }}#part-{{ memorialname.memorial_part.id }}">{{ memorialname.memorial_part.label }}</a> of the {% endif %}<a href="{{ memorialname.memorial.get_absolute_url }}">{{ memorialname.memorial }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <p>Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
                    <a href="{{ id_path }}.html/">HTML</a> |
                    <a href="{{ id_path }}.rdf/">RDF+XML</a> |
                    <a href="{{ id_path }}.ttl/">Turtle</a> |
                    <a href="{{ id_path }}.json/">JSON</a>
                </p>
            </div>
            <div class="span2">
                <h5>Contribute</h5>
                <p>
                    <a class="btn btn-primary btn-medium" href="{% url person_add_story 'person' content.id%}">Add a story</a>
                </p>
                <p>
                    <a class="btn btn-primary btn-medium" href="{% url person_add_image 'person' content.id%}">Add an image</a>
                </p>
            </div>
        </div>
{% endblock %}
