{% extends 'base.html' %}
{% load guardian_tags %}
{% block content %}
    {% get_obj_perms request.user for content as 'perms' %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Rank</h1>
                <p>Details for <a href="{{ content.person.get_absolute_url }}">{{ content.person }}</a></p>
                <dl class="dl-horizontal">
                    <dt>Rank</dt>
                    <dd>{{ content.rank }}</dd>
                    {% if content.start_earliest %}
                        <dt>Start date</dt>
                        <dd>
                            {{ content.start_earliest }}
                        </dd>
                    {% endif %}
                    {% if content.start_earliest %}
                        <dt>End date</dt>
                        <dd>
                            {{ content.end_earliest }}
                        </dd>
                    {% endif %}
                    {% if content.sources.all %}
                        <dt>Documented by</dt>
                        {% with list=content.sources.all %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                </dl>
            </div>
            <div class="span2">
                {% if 'change_rank' in perms %}
                <p>
                    <a class="btn btn-primary btn-medium" href="{% url rank-update content.id%}">Update</a>
                </p>
                {% endif %}
            </div>
        </div>

{% endblock %}
{% block footer %}
<div class="row">
    <div class="span8 offset2">
        Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
        <a href="{{ id_path }}.html/">HTML</a> |
        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
        <a href="{{ id_path }}.ttl/">Turtle</a> |
        <a href="{{ id_path }}.json/">JSON</a>
    </div>
</div>
{% endblock %}
