{% extends 'base.html' %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/add-birth.js' %}"></script>
{% endblock %}
{% block extra_styles %}
<link href="{% static 'css/select2.css' %}" type="text/css" media="screen" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row">
        {% with current='none' %}{% include '_sidenav.html' %}{% endwith %}
        <div class="span10">
            <h2>{% if personaddress.id %}Update{% else %}Add{% endif %} a person&rsquo;s rank</h2>
            <form action="" method="post" class="form-horizontal">{% csrf_token %}

                {% with label='Person' field=form.person %}
                    {% include '_form_field.html' %}
                {% endwith %}
                {% with label='Rank' field=form.rank %}
                    {% include '_form_field.html' %}
                {% endwith %}

                <fieldset>
                    <legend>Dates</legend>
                    {% with label='Start date' field=form.start_earliest_date %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                    {% with label='End date' field=form.end_earliest_date %}
                        {% include '_form_field.html' %}
                    {% endwith %}
                </fieldset>
                {% if rank.id %}
                    <fieldset>
                        <legend>Sources</legend>
                        {% url 'source-add-entity' 'rank' rank.id as addsource %}
                        {% with label='Sources' field=form.sources create_url=addsource create_type='source' %}
                            {% include '_form_field.html' %}
                        {% endwith %}
                    </fieldset>
                {% endif %}
                <div class="form-actions">
                    {% if rank.id %}
                        <input class="btn btn-primary" name="continue" type="submit" value="Save &amp; continue editing">
                        <input class="btn btn-primary" name="finished" type="submit" value="Finished">
                        <a class="btn btn-primary btn-danger" href="{% url 'rank-delete' rank.id %}">Delete</a>
                    {% else %}
                        <input class="btn btn-primary" name="next" type="submit" value="Next">
                    {% endif %}

                </div>
            </form>
        </div>
    </div>
{% endblock %}
