{% extends 'base.html' %}
{% block content %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Relationship</h1>
                <p>Details for <a href="{{ content.person.get_absolute_url }}">{{ content.person }}</a></p>
                <dl class="dl-horizontal">
                    <dt>Related person</dt>
                    <dd>
                        <a href="{{ content.associated_person.get_absolute_url }}">
                            {{ content.associated_person }}
                        </a>
                    </dd>
                    <dt>Relationship</dt>
                    <dd>{{ content.association }}</dd>
                    {% if content.start_earliest %}
                        <dt>Start date</dt>
                        <dd>
                            {{ content.start_earliest }}
                        </dd>
                    {% endif %}
                    {% if content.start_earliest %}
                        <dt>End date</dt>
                        <dd>
                            {{ content.end_earliest }}
                        </dd>
                    {% endif %}
                    {% if content.sources.all %}
                        <dt>Documented by</dt>
                        {% with list=content.sources.all %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                </dl>
            </div>
        </div>

{% endblock %}
{% block footer %}
<div class="row">
    <div class="span8 offset2">
        Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
        <a href="{{ id_path }}.html/">HTML</a> |
        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
        <a href="{{ id_path }}.ttl/">Turtle</a> |
        <a href="{{ id_path }}.json/">JSON</a>
    </div>
</div>
{% endblock %}
