{% extends 'base.html' %}
{% load guardian_tags %}
{% block content %}
    {% get_obj_perms request.user for content as 'perms' %}
        <div class="row">
            {% with current='people' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <ul class="breadcrumb hidden-phone">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li><a href="{% url people-list %}">People</a> <span class="divider">/</span></li>
                    <li><a href="{{ content.person.get_absolute_url }}">{{ content.person }}</a> <span class="divider">/</span></li>
                    <li class="active">{{ content.summary|safe }}</li>
                </ul>
                <h2>Service number</h2>
                <dl class="dl-horizontal">
                    <dt>Service number</dt>
                    <dd>{{ content.service_number }}</dd>
                    {% if content.sources.all %}
                        <dt>Documented by</dt>
                        {% with list=content.sources.all %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                </dl>
            </div>
            <div class="span2">
                {% if 'change_servicenumber' in perms %}
                <p>
                    <a class="btn btn-primary btn-medium" href="{% url servicenumber-update content.id%}">Update</a>
                </p>
                {% endif %}
            </div>
        </div>

{% endblock %}
{% block footer %}
{% with id_path=id_path identifier=identifier %}
    {% include '_footer.html' %}
{% endwith %}
{% endblock %}
