{% extends 'base.html' %}
{% block content %}
        <div class="row">
            {% with current='stories' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>Stories</h1>
                <ul>
                {% for story in content %}
                    <li>
                        <a href="{{ story.get_absolute_url }}">
                            {{ story }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                <ul class="pager">
                    <li>
                        {% if content.has_previous %}
                            <a href="/stories/?page={{ content.previous_page_number }}">Previous</a>
                        {% else %}
                            Previous
                        {% endif %}
                    </li>                    <li>
                        {% if content.has_next %}
                            <a href="/stories/?page={{ content.next_page_number }}">Next</a>
                        {% else %}
                            Next
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="span2">

            </div>
        </div>
{% endblock %}
