{% extends 'base.html' %}
{% load guardian_tags %}
{% block page_title %} -- {{ content }} -- Story{% endblock %}
{% block content %}
{% get_obj_perms user for content as 'entity_perms' %}
        <div class="row">
            {% with current='stories' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <h1>{{ content }}</h1>
                {{ content.text|linebreaks }}
                {% if content.person_set.all %}
                    <h5>Related people</h5>
                    <ul>
                    {% for person in content.person_set.all %}
                        <li><a href="{% url 'person_view' person.id %}">{{ person }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <p>Contributed by: {{ content.created_by.username }}</p>
                <section class="identifier">
                    <p>Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
                        <a href="{{ id_path }}.html/">HTML</a> |
                        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
                        <a href="{{ id_path }}.ttl/">Turtle</a> |
                        <a href="{{ id_path }}.json/">JSON</a>
                    </p>
                </section>
            </div>
            <div class="span2">
                {% if 'change_peoplestory' in entity_perms %}
                <a class="btn btn-primary btn-medium" href="{% url 'edit_story' content.id%}">Edit</a>
                {% endif %}
            </div>
        </div>
{% endblock %}
