{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
        <div class="row">
            {% with current='memorials' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="row">
                <div class="span6">
                    <h1>{{ content.name }}</h1>

                </div>
                <div class="span2">
                    {% if content.photos %}
                        {% thumbnail content.photos.0.sourceimage_set.all.0.image 160x0 as im %}
                        <a class="thumbnail" href="{{ content.photos.0.get_absolute_url }}">
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="content.photos.0.title">
                        </a>
                        <p class="pull-right"><small><a href="{% url memorial-photos-view content.id %}">All photos ({{ content.photos|length }})</a></small><p>

                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="span8">

                </div>
            </div>
        </div>


{% endblock %}
{% block footer %}
<div class="row">
    <div class="span8 offset2">
        <small>
        Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
        <a href="{{ id_path }}.html/">HTML</a> |
        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
        <a href="{{ id_path }}.ttl/">Turtle</a> |
        <a href="{{ id_path }}.json/">JSON</a>
        </small>
    </div>
</div>
{% endblock %}
