{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
        <div class="row">
            {% with current='memorials' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb hidden-phone">
                        <li><a href="/">Home</a> <span class="divider">/</span></li>
                        <li><a href="{% url memorial-list %}">Memorials</a> <span class="divider">/</span></li>
                        <li class="active">{{ content }}</li>
                    </ul>
                    <h1>{{ content.name }}</h1>
                    <div class="row">
                        <div class="span6">
                            {% if content.address %}
                                <p>{{ content.address }}</p>
                            {% endif %}
                            <p><a href="{% url memorial-names-list content.id %}">{{ content.memorialname_set.all|length }} names recorded</a></p>
                        </div>
                        {% if content.photos %}
                            {% thumbnail content.photos.0.sourceimage_set.all.0.image 160x0 as im %}
                            <div class="span2">
                                <a class="thumbnail" href="{{ content.photos.0.get_absolute_url }}">
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="content.photos.0.title">
                                </a>
                                <p class="pull-right"><small><a href="{% url memorial-photos-view content.id %}">All photos ({{ content.photos|length }})</a></small></p>
                            </div>
                        {% endif %}
                    </div>

                    <dl class="dl-horizontal">
                    {% if content.memorialpart_set.all %}
                        <dt>Sections</dt>
                        <dd>
                            <ul>
                            {% for part in content.memorialpart_set.all %}
                                    <li>
                                        <a href="{{ part.get_absolute_url }}">
                                            {% if part.summary %}
                                                {{ part.summary|safe }}
                                            {% else %}
                                                {{ part|safe }}
                                            {% endif %}
                                        </a>
                                        {% if part.memorialname_set.all %}
                                            ({{ part.memorialname_set.all|length }} names)
                                        {% endif %}
                                    </li>
                            {% endfor %}
                            </ul>
                        </dd>

                    {% endif %}
                    {% if content.main_sources %}
                        <dt>Main sources</dt>
                        {% with list=content.main_sources %}
                            {% include '_dd_item_list.html' %}
                        {% endwith %}
                    {% endif %}
                    </dl>

                </div>
            </div>
            <div class="row">
                <div class="span8">

                </div>
            </div>
        </div>


{% endblock %}
{% block footer %}
<div class="row">
    <div class="span8 offset2">
        <small>
        Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
        <a href="{{ id_path }}.html/">HTML</a> |
        <a href="{{ id_path }}.rdf/">RDF+XML</a> |
        <a href="{{ id_path }}.ttl/">Turtle</a> |
        <a href="{{ id_path }}.json/">JSON</a>
        </small>
    </div>
</div>
{% endblock %}
