{% extends 'base.html' %}
{% block content %}
        <div class="row">
            <div class="span2">
                <ul class="nav nav-list">
                    <li class="active"><a href="/memorials/">Memorials</a></li>
                    <li><a href="/people/">People</a></li>
                </ul>
            </div>
            <div class="span10">
                <h1>Memorials</h1>
                <ul>
                {% for memorial in memorials %}
                    <li>
                        <a href="/memorials/{{ memorial.id }}">
                            {{ memorial.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
