{% extends 'base.html' %}
{% load thumbnail %}
{% load nav_extras %}
{% block content %}
        <div class="row">
            {% with current='memorials' %}{% include '_sidenav.html' %}{% endwith %}
            <div class="span8">
                <ul class="breadcrumb hidden-phone">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li class="active">Memorials</li>
                </ul>
                <h1 class="page-header">Memorials</h1>
                <ul class="media-list">
                {% for memorial in content %}
                    <li class="media">
                        <a href="{{ memorial.get_absolute_url }}" class="thumb-container pull-left">
                        {% if memorial.photos %}
                            {% thumbnail memorial.photos.0.sourceimage_set.all.0.image 50x50 crop="True" as im %}
                            <img src="{{ im.url }}">
                        {% else %}
                        <i class="icon-reorder icon-large icon-muted"></i>
                        {% endif %}
                        </a>
                        <div class="media-body">
                        <a href="{{ memorial.get_absolute_url }}" class="">{{ memorial|safe }}</a>
                        {% if memorial.address %}
                            <br>
                            <small>{{ memorial.address }}</small>
                        {% endif %}
                        <br>
                        <small>{{ memorial.memorialname_set.count }} names</small>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}
