{% if identifier %}
<div class="container">
	<div class="row">
    <div class="span8 offset2">
        <p class="identifier"><small>
            Identifer: <a href="{{ identifier }}">{{ identifier }}</a> |
            <a href="{{ id_path }}.html/">HTML</a> |
            <a href="{{ id_path }}.rdf/">RDF+XML</a> |
            <a href="{{ id_path }}.ttl/">Turtle</a> |
            <a href="{{ id_path }}.json/">JSON</a>
        </small></p>
    </div>
    </div>
</div>
{% endif %}

<footer>
   <div class="container">
      <div class="row credits1">
         <div class="span8">
            <div class="nav-off">
               <a href="http://mosman1914-1918.net/project/search">Search</a>
               <a href="http://mosman1914-1918.net/project/blog">Blog</a>
               <a href="http://mosman1914-1918.net/project/events">Events</a>
               <a href="http://mosman1914-1918.net/project/resources">Resources</a>
               <a href="http://mosman1914-1918.net/project/subscribe">Subscribe</a>
               <a href="http://mosman1914-1918.net/project/contact">Contact</a>
            </div>
            <p><em>To commemorate the centenary of World War One, Mosman Library is creating an online resource to collect and display information about the wartime experiences of local service people.</em></p>
            <div class="sm">
               <a title="Doing our bit on Facebook" href="http://facebook.com/mosman1418"><span class="facebook"></span></a><a title="#mosman1418" href="http://twitter.com/search/realtime?q=mosman1418"><span class="twitter"></span></a><a title="Doing our bit on Flickr" href="http://www.flickr.com/photos/mosmanlibrary/sets/72157630508797016/"><span class="flickr"></span></a><a title="Doing our bit on YouTube" href="http://www.youtube.com/playlist?list=PL06D5D9F17520B5EC"><span class="youtube"></span></a><a title="Email newsletter" href="http://mosman1914-1918.net/project/subscribe"><span class="subscribe"></span></a>
            </div>
         </div>
         <div class="span4">
            <img class="DOB_logo" src="http://mosman1914-1918.net/project/images/63.png" alt="" />
         </div>
      </div>
      <div class="row credits2">
         <div class="span12">
            <div class="logorun">

                  <a title="Mosman Council" href="http://www.mosman.nsw.gov.au">
                     <img src="http://mosman1914-1918.net/project/images/162.png" alt="" width="113" height="71" />
                  </a>
                  <a title="Mosman Library" href="http://www.mosman.nsw.gov.au/library">
                     <img src="http://mosman1914-1918.net/project/images/163.png" alt="" width="90" height="71" />
                  </a>
                  <a title="State Library of NSW" href="http://sl.nsw.gov.au">
                     <img src="http://mosman1914-1918.net/project/images/164.png" alt="" width="104" height="71" />
                  </a>

            </div>
            <p><small>A project developed and managed by Mosman Library with the assistance of a State Government Library Development Grant.</small></p>
            <p><small>Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</small></p>
         </div>
      </div>
   </div>
</footer>
