                <div class="form-field control-group{% if extra %} {{ extra }}{% endif %}">
                    <label class="control-label" for="{{ field.auto_id }}">{{ label }}</label>
                    <div class="controls">
                        {% if field.errors %}
                            <div class="alert alert-error">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {{ field }}
                        {% if create_url %}
                            <a href="{{ create_url }}" class="btn btn-mini">Create a new {{ create_type }}</a>
                        {% endif %}
                        <span id="{{ field.auto_id }}_help" class="help-block">{{ help }}</span>
                    </div>
                </div>
