<div class="span2">
    <ul class="nav nav-list sidenav affix">
        <li {% if current == 'memorials' %}class="active" {% endif %}><a href="/memorials/">Memorials</a></li>
        <li {% if current == 'people' %}class="active" {% endif %}><a href="/people/">People</a></li>
        <li {% if current == 'sources' %}class="active" {% endif %}><a href="/sources/">Sources</a></li>
        <li {% if current == 'images' %}class="active" {% endif %}><a href="/images/">Images</a></li>
        <li {% if current == 'stories' %}class="active" {% endif %}><a href="/stories/">Stories</a></li>
        <li {% if current == 'places' %}class="active" {% endif %}><a href="/places/">Places</a>
        </li>
        <li {% if current == 'streets' %}class="active" {% endif %}><a href="/mosmanstreets/">Streets</a>
        </li>
    </ul>
</div>
