{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
<div class="row">
    {% with current='home' %}{% include '_sidenav.html' %}{% endwith %}
    <div class="span8">
        <h2>Contribute</h2>


	<p>To commemorate the centenary of World War One, Mosman Library is creating an online resource to collect and display information about the wartime experiences of local service people. </p>

	<p>But we don&#8217;t want to do it alone!</p>

	<h4>Join the team</h4>

	<p>Register as a contributor and you can log in to add sources, stories and life details to Mosman service people. You can also edit and delete any entries that you have created. </p>

	<p>Browse <a href="/people"><em>People</em></a> to find a person to research. </p>

	<h4>Link people to official records</h4>

	<p>First you&#8217;ll want to be sure you&#8217;ve got the right man or woman. A good place to do this is on <em>Mapping Our Anzacs</em> &#8211; do a <a href="http://mappingouranzacs.naa.gov.au/search.aspx">family name search</a>. The first page of the service record will help confirm whether you&#8217;ve got the right person. Check their name, service number and next of kin address.</p>

	<p>Build up your <em>Doing our bit</em> person&#8217;s page by adding <em>sources</em>, like their service record.</p>

	<p>A great way to access multiple official records for your person is Tim Sherratt&#8217;s <a href="http://wraggelabs.com/ww1-records/">Australian <span class="caps">WWI</span> Records Finder</a>. Entering a family name and a service number will get you records from the <acronym title="National Archives of Australia"><span class="caps">NAA</span></acronym>, <acronym title="Australian War Memorial"><span class="caps">AWM</span></acronym> and <acronym title="Commonwealth War Graves Commission"><span class="caps">CWGC</span></acronym> databases. Click through to a record. You&#8217;ll need the web address of that page.</p>

	<p>On your <em>Doing our bit</em> person&#8217;s page, look for the button <em>Add a source</em>. Choose a <em>source type</em> and paste in the web address. </p>

	<p>A web address (or <span class="caps">URL</span>) looks like this:</p>

	<ul>
		<li><code>http://recordsearch.naa.gov.au/NameSearch/Interface/ItemDetail.aspx?Barcode=8855609</code> &#8211; <em><span class="caps">NAA</span> NameSearch record</em></li>
		<li><code>http://dhistory.org/archives/naa/items/8855609/</code> &#8211; <em><span class="caps">NAA</span> record in Tim Sherratt&#8217;s Archive Viewer</em></li>
		<li><code>http://www.awm.gov.au/research/people/honours_and_awards/person.asp?p=425757</code> &#8211; <em><span class="caps">AWM</span> Honours and Awards record</em></li>
	</ul>

	<p>The system will then retrieve the data and populate a number of fields. That&#8217;s where the magic happens. </p>

	<p>Linking to <em>e.g.</em> a <span class="caps">NAA</span> service record will create a &#8216;life event&#8217; record for their enlistment, which will include a link to a place, and a &#8216;related person&#8217; record with a link to their next-of-kin. Name variations are also captured.</p>

	<p>If you look at the page for <a href="/people/105.html/">Charles William Tanzer</a> you&#8217;ll see the various fields that have been created by linking multiple records.</p>

	<p>Once you’ve added a source, go back to your service person &#8211; click on <em>Main subject</em> &#8211; and add another source.</p>

	<h4>Not just &#8216;official&#8217; records</h4>

	<p>You can also link sources like web pages, photographs and Trove newspaper articles.</p>

	<h4>Stories</h4>

	<p>Stories are for your memories or those of your Anzac, and for research based on multiple sources.</p>

	<p>Here are two examples: </p>

	<ul>
		<li><a href="/stories/16.html/">An account of Bill Lang&#8217;s war by his grandson Angus Lang</a></li>
		<li><a href="/stories/17.html/">Bev Pieremont&#8217;s memories of her father Percy Wintle</a></li>
	</ul>

	<h4>Duplicate records?</h4>

	<p>The list of names has been generated from those on local honour rolls, and spelling and initials are not necessarily consistent. For that reason, there are many duplicates, but they can be merged. If you see a duplicate listing for a service person, <a href="http://mosman1914-1918.net/project/contact">contact us</a> to do a merge.</p>

	<h4>Are we missing a Mosman service man or woman?</h4>

	<p>You can <a href="/people/suggest/">suggest a name for inclusion</a>. </p>

	<p>The person should have a significant connection to Mosman. </p>

	<p>Once a name has been suggested it gets a &#8216;pending&#8217; status. Editors will view and approve or reject the &#8216;pending&#8217; names.</p>

	<h4>Conflicting records?</h4>

	<p>To allow for conflicting information from multiple sources new event/association records are created and linked to the source, rather than overwriting any existing data.</p>

	<h4>Need help?</h4>

	<p>Please email <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#108;&#105;&#98;&#114;&#97;&#114;&#121;&#64;&#109;&#111;&#115;&#109;&#97;&#110;&#46;&#110;&#115;&#119;&#46;&#103;&#111;&#118;&#46;&#97;&#117;">&#108;&#105;&#98;&#114;&#97;&#114;&#121;&#64;&#109;&#111;&#115;&#109;&#97;&#110;&#46;&#110;&#115;&#119;&#46;&#103;&#111;&#118;&#46;&#97;&#117;</a> or you can tweet with hashtag <a href="http://twitter.com/search/mosman1418">#mosman1418</a> or ask on our <a href="http://facebook.com/mosman1418">Facebook page</a>.</p>

	<p>If you’d rather send us information by email, go to our <a href="http://mosman1914-1918.net/project/contact">contact page</a> or email <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#108;&#105;&#98;&#114;&#97;&#114;&#121;&#64;&#109;&#111;&#115;&#109;&#97;&#110;&#46;&#110;&#115;&#119;&#46;&#103;&#111;&#118;&#46;&#97;&#117;">&#108;&#105;&#98;&#114;&#97;&#114;&#121;&#64;&#109;&#111;&#115;&#109;&#97;&#110;&#46;&#110;&#115;&#119;&#46;&#103;&#111;&#118;&#46;&#97;&#117;</a> </p>

	<h4>Research resources</h4>

	<p>On our project site we have compiled <a href="http://mosman1914-1918.net/project/resources">a list of resources</a> that may come in handy.</p>



    </div>
    <div class="span2">

    </div>
</div>

{% endblock %}
{% block footer %}
    {% include '_footer.html' %}
{% endblock %}
